<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">@BuildIt Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/#">Check weather</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>

<div class="weather-box">
  <div class="row row-change-city">
      <div class="input-group">
        <input (keydown)="onSearchSubmit($event)" type="text" class="form-control" placeholder="Search for a city..." [(ngModel)]="currentCity" id="city-input">
        <button class="btn btn-default" type="button" (click)="loadCityDetails()" id="search-button">Load</button>
      </div>
      <span id="errorInfo" class="label label-danger visibility-hidden">I can't find this city</span>
  </div>
  <div class="row">
    <div class="hour-details">
      <div class="weather-daily-description">
        <span class="weather-value"><span class="city-header">{{city.name}}, {{city.country}}</span> <span id="picked-date">({{du.getMonth(selectedDayAndHour)}} {{selectedDayAndHour.getDate()}} {{du.getOnlyHour(selectedDayAndHour)}}:00)</span> <br/> {{selectedHourDetails.weather[0].description.toUpperCase()}}</span>
      </div>
      <div class="weather-daily-details">
        <div class="weather-daily-temperature">
          <span class="weather-value">{{cu.roundNumber(selectedHourDetails.main.temp)}}</span>
          <span class="weather-unit"> &deg;C</span>
        </div>
        <div class="weather-daily-pressure weather-daily-details-info">
          <span class="weather-label">Pressure: </span>
          <span class="weather-value">{{cu.roundNumber(selectedHourDetails.main.pressure)}}</span>
          <span class="weather-unit"> hPa</span>
        </div>
        <div class="weather-daily-humidity weather-daily-details-info">
          <span class="weather-label">Humidity: </span>
          <span class="weather-value">{{selectedHourDetails.main.humidity}}</span>
          <span class="weather-unit"> &#37;</span>
        </div>

        <div class="weather-daily-wind-speed weather-daily-details-info">
          <span class="weather-label">Wind: </span>
          <span class="weather-value">{{selectedHourDetails.wind.speed}}</span>
          <span class="weather-unit"> m/s</span>
        </div>
      </div>

      <div class="wather-big-dayily-icon w-icon-big icon-big-{{selectedHourDetails.weather[0].icon}}"></div>
    </div>
  </div>
  <div class="row row-weather-by-hours">
    <div class="weather-by-hour w-icon icon-{{hourForecastDetails.weather[0].icon}}" (click)="changeCurrentHour(hourForecastDetails.dt_txt)" *ngFor="let hourForecastDetails of currentDayHoursWeather">
      <a href="javascript:void(0)" >
        <span>{{du.getOnlyHourFromString(hourForecastDetails.dt_txt)}}:00</span>
      </a>
    </div>
  </div>
  <div class="row row-calendar">
    <div class="weather-day" *ngFor="let idx of cu.objectKeys(weatherDetails)">
      <a href="javascript:void(0)" class="" (click)="changeCurrentDay(du.getOnlyDayFromString(weatherDetails[idx][0].dt_txt))" *ngIf="du.convertToDate(weatherDetails[idx][0].dt_txt); let currentDate">
        <span class="weather-calendar-row weather-calendar-month">{{du.getMonth(currentDate)}}</span>
        <span class="weather-calendar-row weather-calendar-day">{{du.getDayNumber(currentDate)}}</span>
        <span class="weather-calendar-row weather-calendar-week-day">{{du.getWeekDay(currentDate)}}</span>
      </a>
    </div>
  </div>
</div>
