/**
 CALENDAR STYLES
 */
.weather-day {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.weather-calendar-row {
  width: 60px;
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
}

.weather-calendar-month {
  background-color: rgba(0, 0, 0, 0.13);
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.weather-calendar-day {
  font-size: 1.5em;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.weather-calendar-week-day {
  background-color: rgba(0, 0, 0, 0.13);
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.row-calendar {

}



.weather-box {
  padding: 30px;
}

.hour-details {
  min-height: 240px;
  max-height: 240px;
  min-width: 450px;
  max-width: 450px;
  margin-bottom: 20px;
}

.weather-by-hour {
  min-height: 80px;
  max-height: 80px;
  min-width: 60px;
  max-width: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 52px;
}

.weather-by-hour {
  cursor: pointer;
}

.weather-by-hour a span {
  text-align: center;
}

.weather-daily-details, .weather-daily-description {
  color: #007bff;
  float: left;
  min-width: 180px;
  padding-left: 20px;
}


.weather-daily-temperature {
  padding-left: 20px;
}

.weather-daily-temperature .weather-value {
  font-size: 5em;
}

.weather-daily-temperature .weather-unit {
  font-size: 2em;
}

.weather-daily-description {
  font-weight: bolder;
  padding: 10px 0 0 10px;
  width: 100%;
}

.weather-daily-details-info {
  padding-left: 20px;
  font-size: 0.8em;
}


/**
 COMMON FOR ANY MODE ***************************************************************************************************
 */
a {
  outline: 0;
}

#city-input {
  max-width: 567px;
}

.wather-big-dayily-icon {
  min-width: 160px;
  max-width: 160px;
  min-height: 160px;
  max-height: 160px;
  margin-top: 20px;
  float: left;
  margin-left: 30px;
}

.w-icon-big {
  background-image: url('./icons/website-large.png');
  background-repeat: no-repeat;
}

.icon-big-01d {
  background-position: -172px -90px;
}

.icon-big-02d {
  background-position: -772px -89px;
}

.icon-big-03d, .icon-big-03n {
  background-position: -471px -291px;
}

.icon-big-04d, .icon-big-04n {
  background-position: -771px -290px;
}

.icon-big-09d, .icon-big-09n {
  background-position: -171px -670px;
}

.icon-big-10d {
  background-position: -171px -292px;
}


.icon-big-11d, .icon-big-11n {
  background-position: -470px -869px;
}


.icon-big-13d, .icon-big-13n {
  background-position: -772px -870px;
}


.icon-big-50d, .icon-big-50n {
  background-position: -469px -1450px;
}


.icon-big-01n {
  background-position: -171px -1071px;
}


.icon-big-02n {
  background-position: -170px -1263px;
}

.icon-big-10n {
  background-position: -470px -1263px;
}

.w-icon {
  background-image: url('./icons/website-tiny.png');
  background-repeat: no-repeat;
}

.icon-01d {
  background-position: -45px -33px;
}

.icon-02d {
  background-position: -245px -33px;
}

.icon-03d {
  background-position: -448px -33px;
}

.icon-04d, .icon-04n {
  background-position: -45px -128px;
}

.icon-09d, .icon-09n {
  background-position: -448px -128px;
}

.icon-10d {
  background-position: -352px -33px;
}


.icon-11d, .icon-11n {
  background-position: -352px -212px;
}


.icon-13d, .icon-13n {
  background-position: -449px -213px;
}


.icon-50d, .icon-50n {
  background-position: -245px -387px;
}


.icon-01n {
  background-position: -45px -304px;
}


.icon-02n {
  background-position: -352px -304px;
}


.icon-03n {
  background-position: -448px -33px;
}

.icon-10n {
  background-position: -448px -304px;
}

.row-change-city div input {
  margin-right: 20px;

}

.label-danger {
  background-color: #d9534f;
}

.label {
  display: inline;
  margin-top: 10px;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.visibility-hidden {
  visibility: hidden;
}

@media only screen and (max-width:800px) {
  body {
    min-width: 360px;
  }

  .weather-box {
    min-width: 360px;
  }

  .weather-day {
    float: left;
    min-width: 150px;
    max-width: 180px;
    min-height: auto;
    max-height: none;
  }

  .weather-calendar-month, .weather-calendar-week-day, .weather-calendar-day {
    border: 1px solid rgba(0, 0, 0, 0.13);
    width: 50px;
  }

  .weather-calendar-row {
    font-size: 1em;
    max-width: 60px;
    min-width: 60px;
  }


  .row-calendar {
    width: 200px;
    float: left;
    margin-left: 22px;
    padding-top: 10px;
  }

  .row-weather-by-hours {
    min-width: 120px;
    max-width: 120px;
    float: left;
    margin-right: 20px !important;
    padding-top: 10px;
  }

  .hour-details {
    min-height: 150px;
    max-height: 150px;
    min-width: 300px;
    max-width: 300px;
  }

  .weather-daily-temperature .weather-value {
    font-size: 2em;
  }

  .weather-daily-temperature .weather-unit {
    font-size: 1em;
  }


  .wather-big-dayily-icon {
    background: none;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
    background-image: url('./icons/website-tiny.png');
    background-repeat: no-repeat;
  }

  .weather-by-hour {
    background: none;
    min-height: 30px;
    max-height: 30px;
    min-width: 50px;
    max-width: 50px;
    padding-top: 0px;
  }

  .weather-daily-description {
    font-size: 0.8em;
    font-weight: normal;

  }

  .city-header {
    font-size: 1.2em !important;
    font-weight: bolder;
  }

  .icon-big-01d {
    background-position: -45px -33px;
  }

  .icon-big-02d {
    background-position: -245px -33px;
  }

  .icon-big-03d {
    background-position: -448px -33px;
  }

  .icon-big-04d, .icon-big-04n {
    background-position: -45px -128px;
  }

  .icon-big-09d, .icon-big-09n {
    background-position: -448px -128px;
  }

  .icon-big-10d {
    background-position: -352px -33px;
  }


  .icon-big-11d, .icon-big-11n {
    background-position: -352px -212px;
  }


  .icon-big-13d, .icon-big-13n {
    background-position: -449px -213px;
  }


  .icon-big-50d, .icon-big-50n {
    background-position: -245px -387px;
  }


  .icon-big-01n {
    background-position: -45px -304px;
  }


  .icon-big-02n {
    background-position: -352px -304px;
  }


  .icon-big-03n {
    background-position: -448px -33px;
  }

  .icon-big-10n {
    background-position: -448px -304px;
  }
}
